-- =====================================================
-- DATA INSERTION: Inventory System
-- Author: Rico, Donalen Grace C.
-- Course: IT 105 - Information Management I
-- Description: Sample data with 10+ records per table
-- =====================================================

USE InventorySystem;

INSERT INTO Categories (CategoryName, Description) VALUES
('Electronics', 'Gadgets, devices, and electronic equipment'),
('Office Supplies', 'Stationery and office essentials'),
('Furniture', 'Office and home furniture items'),
('Computer Accessories', 'Peripherals and computer add-ons');




INSERT INTO Sales (CustomerID, SaleDate, TotalAmount, PaymentMethod) VALUES
(1, '2026-04-01 10:30:00', 55850.00, 'Cash'),
(2, '2026-04-02 14:15:00', 2500.00, 'Credit Card'),
(3, '2026-04-03 09:45:00', 9500.00, 'Debit Card'),
(4, '2026-04-05 16:20:00', 12500.00, 'Cash'),
(5, '2026-04-07 11:00:00', 18000.00, 'Online'),
(6, '2026-04-10 13:30:00', 4050.00, 'Credit Card'),
(7, '2026-04-12 15:45:00', 8500.00, 'Cash'),
(8, '2026-04-15 10:00:00', 3200.00, 'Debit Card'),
(9, '2026-04-18 12:15:00', 55000.00, 'Online'),
(10, '2026-04-20 17:00:00', 850.00, 'Cash');


SELECT 'Categories' AS TableName, COUNT(*) AS RecordCount FROM Categories
UNION ALL
SELECT 'Suppliers', COUNT(*) FROM Suppliers
UNION ALL
SELECT 'Products', COUNT(*) FROM Products
UNION ALL
SELECT 'Customers', COUNT(*) FROM Customers
UNION ALL
SELECT 'Sales', COUNT(*) FROM Sales
UNION ALL
SELECT 'SaleItems', COUNT(*) FROM SaleItems;