USE InventorySystem;

SELECT * FROM Products;

-- Select products with low stock (below reorder level)
SELECT ProductName, QuantityInStock, ReorderLevel
FROM Products
WHERE QuantityInStock <= ReorderLevel;

-- Select all customers from Manila
SELECT CustomerName, Email, Address
FROM Customers
WHERE Address LIKE '%Manila%';

-- Select total sales per payment method
SELECT PaymentMethod, SUM(TotalAmount) AS TotalSales
FROM Sales
GROUP BY PaymentMethod;


INSERT INTO Products (ProductName, CategoryID, SupplierID, QuantityInStock, UnitPrice, ReorderLevel)
VALUES ('Gaming Chair', 3, 3, 20, 15000.00, 5);

SELECT * FROM Products WHERE ProductName = 'Gaming Chair';


-- Update product price (increase laptop price by 5%)
UPDATE Products 
SET UnitPrice = UnitPrice * 1.05
WHERE ProductName = 'Gaming Laptop';

-- Verify the update
SELECT ProductName, UnitPrice FROM Products WHERE ProductName = 'Gaming Laptop';

DELETE FROM Products 
WHERE ProductName = 'Gaming Chair' 
AND ProductID NOT IN (SELECT DISTINCT ProductID FROM SaleItems);

-- Verify deletion
SELECT * FROM Products WHERE ProductName = 'Gaming Chair';

SELECT p.ProductName, c.CategoryName, p.QuantityInStock, p.UnitPrice
FROM Products p
INNER JOIN Categories c ON p.CategoryID = c.CategoryID
ORDER BY c.CategoryName;

SELECT s.SaleID, cust.CustomerName, s.SaleDate, si.ProductID, si.Quantity, si.Subtotal
FROM Sales s
JOIN Customers cust ON s.CustomerID = cust.CustomerID
JOIN SaleItems si ON s.SaleID = si.SaleID
LIMIT 10;

SELECT p.ProductName, SUM(si.Quantity) AS TotalSold
FROM Products p
LEFT JOIN SaleItems si ON p.ProductID = si.ProductID
GROUP BY p.ProductID;

SELECT p.ProductName, sup.SupplierName, sup.ContactPerson, sup.Phone
FROM Products p
JOIN Suppliers sup ON p.SupplierID = sup.SupplierID;

SELECT ProductName, UnitPrice
FROM Products
WHERE ProductID IN (SELECT DISTINCT ProductID FROM SaleItems);

SELECT 
    ProductName,
    (SELECT AVG(Quantity) FROM SaleItems WHERE ProductID = p.ProductID) AS AvgQuantitySold
FROM Products p;

SELECT ProductName, TotalSold
FROM (
    SELECT p.ProductName, COALESCE(SUM(si.Quantity), 0) AS TotalSold
    FROM Products p
    LEFT JOIN SaleItems si ON p.ProductID = si.ProductID
    GROUP BY p.ProductID
) AS ProductSales
ORDER BY TotalSold DESC
LIMIT 3;

SELECT CustomerName, Email
FROM Customers c
WHERE EXISTS (SELECT 1 FROM Sales s WHERE s.CustomerID = c.CustomerID);

SELECT ProductName, UnitPrice
FROM Products
WHERE UnitPrice > (SELECT AVG(UnitPrice) FROM Products);

SELECT 'Categories' AS TableName, COUNT(*) AS Records FROM Categories
UNION ALL
SELECT 'Suppliers', COUNT(*) FROM Suppliers
UNION ALL
SELECT 'Products', COUNT(*) FROM Products
UNION ALL
SELECT 'Customers', COUNT(*) FROM Customers
UNION ALL
SELECT 'Sales', COUNT(*) FROM Sales
UNION ALL
SELECT 'SaleItems', COUNT(*) FROM SaleItems;

-- Show recent sales with customer names
SELECT s.SaleID, c.CustomerName, s.SaleDate, s.TotalAmount, s.PaymentMethod
FROM Sales s
JOIN Customers c ON s.CustomerID = c.CustomerID
ORDER BY s.SaleDate DESC
LIMIT 5;